@keyframes opacityShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.FancyCardChooseRoot {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  color: white;
  z-index: 2;
}

.Title {
  margin-top: 20px;
  font-size: 7vw;
  line-height: 7vw;
  font-weight: 700;
  filter: drop-shadow(3px -4px 5px rgba(40,68,178, 0.8));
  transition: opacity 0.5s;
}

.Second {
  position: relative;
  top: -15px;
  font-size: 7vw;
  line-height: 7vw;
  text-align: center;
}


@media (min-width: 800px) {
  .Title {
    font-size: 5vw;
    line-height: 5vw;
  }

  .Second {
    font-size: 4vw;
    line-height: 4vw;
  }
}


.FancyCardChooseGroup {
  transition: opacity 0.3s;
}

.FancyCardChooseGroup > * {
  display: flex;
  flex-direction: column;
}

.FancyCardChooseButtonShare {
  font-size: 40px !important;
}

.FancyCardResetButton {
  background-color: white;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 20px !important;
  font-weight: 600;
  color: #3A6DF2;
  border: none;
  transition: 0.2s;
}

.FancyCardResetButton:hover {
  background-color: #DDDDDD !important;
}

.FancyCardResetButton:active {
  background-color: #AAAAAA !important;
}

.FancyCardChooseButtonLinkText {
  position: relative;
  padding-top: 10px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: white;
}

.FancyCardChooseButtonLink {
  padding: 5px 15px;
}

.hidden {
  opacity: 0;
}