.FancyTextShowRoot {
  padding: 0 10%;
  font-size: 3vw;
  font-weight: 400;
  text-align: center;
  color: white;

}

@media (min-width: 1200px) {
  .FancyTextShowRoot {
    font-size: 2vw;
    padding: 0 20%;
  }
}


@media (max-width: 800px) {
  .FancyTextShowRoot {
    font-size: 6vw;
    padding: 0 2%;
  }
}

.FancyTextShowItem {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0) drop-shadow(3px 3px 3px rgba(255,255,178, 0.5));
  }
}